@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root{
    --background: hsl(222 47% 4%);

    /* gradiente que define a cor da fonte do texto "Portfolio" que aparece logo no inicio do header */
    --gradient-primary: linear-gradient(
        135deg, 
        hsl(217 91% 60%) 0%, 
        hsl(263 70% 60%) 100%
        );
    }
}

@layer components {
    .gradient-text {
        @apply bg-clip-text text-transparent inline-block;
        background-image: var(--gradient-primary);
    }
}
